/* -------------ОБЩИЕ СТИЛИ----------- */
.page, .header, 
.header__logo, .theme-menu__list,
.main, .content,
.text-content, .container-button,
.footer, .heart-button,
.button, .dialog__container,
.dialog__warning {
  display: flex;
}

.page, .header,
.header__logo, .theme-menu__list,
.main, .content,
.text-content, .dialog__container {
  flex-direction: column;
}

.button:focus-visible, .header__title:focus,
.theme-menu__button:focus-within, .heart-button:focus {
  outline: none;
}

 .header, /*.post,
.post__title, .post__cover,.content, */
 .heart-button::before,
.button, .dialog {
  border: 2px solid var(--themes-main-color);
}

.post__cover, .theme-menu__button,
.heart-button, .button {
  position: relative;
}

.theme-menu__button, .watermark,
.button__text, .dialog__warning {
  font-size: 14px;
}


/* -----PAGE----- */
.page {
  gap: 52px;
  inline-size: calc(100vw * (700 / 1440));
  min-inline-size: 430px;
  color: var(--themes-main-color);
  font-family: var(--font-main);
  background: var(--background);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: "wght" var(--themes-font-weight-content);
}

/* ------------HEADER------------------- */
.header {
  align-items: center;
  gap: 22px;
  margin-block-start: 100px;
  font-family: var(--font-accent);
  background-color: var(--themes-backgroud-color);
}

.header__logo {
  align-items: center;
  gap: 20px;
  margin-block-start: 120px;
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: uppercase;
}

.header__description {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.theme-menu__list {
  gap: 12px;
  margin-inline-start: 21px;
  margin-block-end: 25px;
}

.theme-menu__button {
  border: none;
  padding: 0;
  text-transform: uppercase;
  background-color: transparent;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  display: block;
  inline-size: 0%;
  height: 2px;
  background-color: var(--themes-main-color);
  transition: width 0.5s ease-in-out;
}

.theme-menu__button:focus-within {
  opacity: 0.6;
}

.theme-menu__button:focus-within::after {
  inline-size: 100%;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  cursor: pointer-events;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  top: 0;
  left: -20px;
  animation: choose 0.5s infinite ease-in-out alternate;
}

/* ------------------ОСНОВНОЙ КОНТЕЙНЕР------------------------- */
.main {
  gap: 50px;
  margin-block-start: 48px;
}

/* --------------------------БЛОК ПОСТА------------------------- */
.post {
  background-color: var(--themes-backgroud-color);
}

.post__title {
  padding: 3px 10px;
  font-size: 18px;
  font-variation-settings: "wght" var(--themes-font-weight-title);
  border: 2px solid var(--themes-main-color);
}

.post__cover {
  border: solid var(--themes-main-color);
  border-top-width: 0px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
}

.post__title:first-child {
  max-block-size: 52px;
  block-size: 100%;
}


.image {
  display: block;
  inline-size: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1 / 1;
}

.watermark {
  position: absolute;
  top: 25px;
  right: 13px;
  opacity: 0.5;
  color: var(--themes-main-color);
  font-family: var(--font-accent);
  font-weight: 400;
  text-shadow: 0 0 1px var(--themes-backgroud-color);
  mix-blend-mode:normal;
}


.content {
  gap: 25px;
  padding: 25px;
  padding-bottom: 22px;
  font-size: 18px;
  line-height: 20.9px;
  font-variation-settings: "wght" var(--themes-font-weight-content);
  border: solid var(--themes-main-color);
  border-top-width: 0px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
}

.text-content {
  gap: 27px;
}

.container-button {
  justify-content: end;
  gap: 6px;
}

/* utils */

.heart-button {
  align-items: end;
  min-height: 38px;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  z-index: 1;
}

.heart-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  inline-size: 100%;
  height: 100%;
  outline-offset: -2px;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -1;
}

.heart-button:focus-within::before {
  opacity: 100;
  z-index: 0;
}

.card__like-button {
  inline-size: 130px;
  min-height: 38px;
  padding: 9px 17px;
}

/*----------------СТИЛИ ДЛЯ КНОПОК------------------*/

.save_container {
  display: flex;
  justify-content: center;
}

.floppy {
  color: var(--themes-main-color);
}

.button {
  justify-content: center;
  align-items: center;
  background: var(--themes-backgroud-color);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.save_button {
  gap: 8px;
  min-height: 55px;
  padding: 15px 20px;
}

.button:focus-visible {
  box-shadow: 2px 2px var(--themes-main-color);
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  inline-size: 0%;
  height: 100%;
  background-color: var(--themes-main-color);
  transition: width 0.5s ease-in-out;
}

.button:hover::before {
  inline-size: 100%;
}

.button__text {
  font-family: var(--font-accent);
  font-weight: 400;
  line-height: 90%;
  color: var(--themes-button-text-color);
}

.button:hover .button__text {
  color: var(--themes-backgroud-color);
}

.button svg {
  z-index: 1;
  stroke: var(--themes-button-text-color);
  transition: fill 0.5s ease-in-out;
}

.button:hover svg {
  stroke: var(--themes-backgroud-color);
}

.like-icon:focus {
  outline: none;
  border: 0;
}

/* -------------ДИАЛОГОВОЕ ОКНО---------------- */
dialog::backdrop {
  opacity: 0.75;
  background: #000;
}

.dialog {
  /* inline-size: calc(100vw * (352 / 1440)); */
  inline-size: 100vw;
  padding: 30px;
  background: var(--themes-backgroud-color);
}

.dialog__container {
  gap: 30px;
  color: var(--themes-main-color);
}

.dialog__warning {
  display: grid;
  gap: 20px;
  font-family: var(--font-accent);
  line-height: 150%;
  text-transform: uppercase;
  grid-template-columns: repeat(2, auto);
  align-items: center;
}

.dialog__warning svg {
  z-index: 1;
  stroke: var(--themes-button-text-color);
}

.dialog__button {
  justify-content: center;
  align-items: center;
  gap: 10px;
  inline-size: 100%;
  min-height: 38px;
  padding: 9px 17px;
  text-transform: uppercase;
}

/* -----------ФИЛЬТРЫ ДЛЯ ИЗОБРАЖЕНИЙ----------- */

.brightness {
  filter: brightness(130%);
}

.grayscale {
  filter: grayscale(0.8);
}

.combinate-acid_pink_shades {
  filter: brightness(1.4) contrast(1) saturate(3) hue-rotate(360deg);
}

.combinate-brow-pink_dark_shades {
  filter: brightness(0.8) contrast(1.3) hue-rotate(34deg) saturate(1.4) sepia(0.2);
}

.combinate-invert {
  filter: contrast(0.6) hue-rotate(20deg) saturate(1.4) sepia(0.2) invert(1);
}

.combinate-sepia {
  filter: saturate(0.6) sepia(0.7);
}

.blur {
  filter: blur(10px);
}

.combinate-grayish-purple_shade {
  filter: brightness(0.9) contrast(0.4) hue-rotate(70deg) saturate(3) sepia(0.4) blur(3px);
}

/* ----------ЗАПРОСЫ------------ */

@supports (mix-blend-mode: difference) {
  .button .button__text {
    transition: none;
  }

  /* .button:hover svg {
    transition: none;
    mix-blend-mode: difference;
    filter: invert(1);
  } */

  .button:hover .button__text {
    color: var(--themes-button-text-color);
  }

  /* .button:hover svg {
    stroke: var(--themes-backgroud-color);
  } */

  .button__text {
    mix-blend-mode: difference;
  }
}

@supports (
  (
      (text-stroke: 1px var(--themes-backgroud-color)) or
        (-webkit-text-stroke: 1px var(--themes-backgroud-color))
    )
    and (mix-blend-mode: hard-light)
) {
  .watermark {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--themes-backgroud-color);
    text-stroke: var(--themes-backgroud-color);
  }
}

@media (width <= 450px) {
  .page {
    inline-size: 100%;
    min-inline-size: 320px;
  }

  .save_button {
    flex-direction: column;
  }

  .save_button svg {
    inline-size: 28px;
    height: 28px;
  }

  .dialog {
    max-inline-size: 341px;
    padding: 30px 40px;
  }
}

@media (width >= 1440px) {
  .dialog {
    max-inline-size: 353px;
  }
}
